<div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sepete Ekle</th>
                <th scope="col">Sepetten eksilt</th>
                <th scope="col">Image</th>
                <th scope="col">Category Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>            
                <th scope="col">Created Date</th>
                <th scope="col">Is Active</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let product of productList">
                <td scope="row">{{product.id}}</td>
                <td><button class="btn btn-sm btn-success" (click)="addCart(product)">Sepete Ekle</button></td>
                <td><button class="btn btn-sm btn-danger" (click)="lessCart(product)">Sepetten eksilt</button></td>
                <td><img [src]="product.image.small" alt=""></td>
                <td>{{product.categoryId}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.createdDate|date:'dd/MM/yyyy hh:mm'}}</td>
                <td>{{product.isActive}}</td>
            </tr>
        </tbody>
    </table>
</div>
