<div>
    <p> {{product.price | currency}}</p>
    <p>{{ product.price | currency:'₺':'symbol':'1.2-2' }}</p>
    <p>{{ product.price | currency:'TRY':'symbol':'1.2-2' }}</p>
    <p> {{product.price | currency:'CAD'}}</p>
    <p> {{product.price | currency:'CAD':'code'}}</p>
    <p> {{product.price | currency:'CAD':'symbol':'4.2-2'}}</p>
    <p> {{product.price | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>
    <p> {{product.price | currency:'CAD':'symbol':'4.2-2'}}</p>
    <p> {{product.price | currency:'CLP'}}</p>
</div>